<nav class="navbar has-shadow is-primary">
  <!-- log/ brand  (div,navbar-brand) -->
  <div class="navbar-brand">
    <a class="navbar.item">
      <img
        src="/images/lotus.png"
        alt="site logo"
        style="max-height: 100"
        class="py-2 px-2"
      />
    </a>
    <a class="navbar-burger" id="burger">
      <span class="span"></span>
      <span class="span"></span>
      <span class="span"></span>
    </a>
  </div>

  <div class="navbar-menu" id="nav-links">
    <div class="navbar-end">
      {{ range .Site.Menus.main}}
      <a class="navbar-item" href="{{.URL}}">{{.Name}}</a>
      {{ end }}
    </div>
  </div>
</nav>
