<section class="section">
    <div class="container">
      <h3 class="title has-text-centered is-size-4">Related services</h3>
      <div class="columns mt-5 is-8 is-variable">
        {{ range (where site.RegularPages "Section" "servi") }}
  
        <div class="column is-3">
          <div class="card">
            <div class="card-image has-text-centered px-6">
              <img src="{{ .Params.Logo }}" alt="product" />
            </div>
            <div class="card-content">
              <p class="title is-size-5">{{.Title}}</p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <a href="" class="has text-grey">View</a>
              </p>
            </footer>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </section>