{{ define "conto" }}


<!-- <!product info> -->
<!-- {{ range (where site.RegularPages "Section" "hero") }}
<div class="hero is-large" style="background-color: {{ .Params.BackgroundColor }};">
  <div class="hero-body ">
    <div class="title has-text-white	">
      {{.Title}}
    </div>

    <div class="subtitle has-text-white">
      {{ .Params.Desc}}
    </div>

    <button class="button is-success">Inverted</button>



  </div>
</div>
{{end}} -->

<!-- Trusted by Section -->
{{- partial "trusted_by.html" . -}}
<!--  Releted Services Section> -->
{{- partial "releted_services.html" . -}} {{ end }}